<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Receipts</title>
		<link rel="stylesheet" href="../static/styles.css">
	</head>
	<body>
		<h1 style="text-align: center;">Receipts</h1>
		<table id="all-receipts" style="margin: auto;">
			<tr>
				<th>ID</th>
				<th>Item</th>
				<th>Store</th>
				<th>Price</th>
				<th>Date</th>
			</tr>
			<tbody>
				<!-- Rows will be inserted here -->
			</tbody>
		</table>
		<script src="../static/scripts.js"></script>
	</body>
</html>